<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?cocktails);">
  <div class="container">
    <h1>Cocktails <strong>to get you drunk</strong> for <strong>crazy people</strong>!</h1>
    <p>Drink every day of your life, like it is the last!</p>
    <!--<a class="btn btn-flat" href="#">Apply now</a>-->
  </div>
</div>
